*{font-family: Arial, sans-serif;}
body{
    margin: 0px;
}
header{
    background-color: white;
    height: 60px;

}
nav{
    margin-left: 80px;
    height: 60px;
}

nav ul:first-child{
    background-color: #6B83B4;
    color: white;
}
li a{
    padding: 80px 10px 5px 10px;
    text-decoration: none;
}

https://maikpwwq.github.io/Comunidad-dezzpo/
https://19-orjuela.github.io/menu-imagen/
https://dagon8523.github.io/Taller16/